body{
    font-family: 'Raleway', sans-serif;

}

.navbar-brand{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
}

.action > .btn {
    margin: auto;
    display: inline-block;
}