<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="shortcut icon" href="images/favicon.ico">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Vue.js</title>

        <link rel="manifest" href="manifest.json">
        
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="application-name" content="todoapp">
        <meta name="apple-mobile-web-app-title" content="todoapp">
        <meta name="theme-color" content="#010691">
        <meta name="msapplication-navbutton-color" content="#010691">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="msapplication-starturl" content="http://francois-perrault.16mb.com/portfolio/todoapp/index.html">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" sizes="192x192" href="image/todoico.png">
        <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="image/todoico.png">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="./public/style/main.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="./public/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body id="body">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a id="title" class="navbar-brand" href="#">Todo List</a>
          </nav>
        
          <div class="container">
            <div class="card">
              <div class="card-body">
        
                <h4 class="card-title">Choses à faire...</h4>
                <p class="card-text"></p>
        
                <!-- Action -->
                <form v-on:submit.prevent="ajout" class="add">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="oi oi-pencil"></span></span>
                    <input id="texte" name="texte" type="text" class="form-control" placeholder="A ne pas oublier.." aria-label="My new idea" aria-describedby="basic-addon1">
                    <span class="input-group-addon">
                      <input type="submit" class="btn btn-primary btn-sm" value="Add">
                    </span>
                  </div>
                </form>
        
                <!-- List -->
                <ul class="list-group">
                  <!-- FOREACH todos -->
                  <li v-for="tache in taches" class="list-group-item" id="{id}">
                    <span>{{tache.texte}}</span>
                    <div class="pull-right action">
                        <span class="btn btn-success oi oi-check" v-on:click="terminer(tache.id)" v-if="!tache.termine"></span>
                        <span class="btn btn-danger oi oi-trash" v-on:click="supprimer(tache.id)" v-if="tache.termine" ></span>   
                    </div>
                  </li>
                  <!-- ENDEACH -->
                </ul>
              </div>
            </div>
          </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
      
        <script src="lib/vue.js"></script>
        <script src="lib/sweetalert.js"></script>
        <script src="js/main.js"></script>
        <script src="js/manifest.json"></script>
    </body>
</html>